* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #8cc461;
  font-size: xx-large;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;
  text-align: center;
  justify-content: center; */
}

.box-container {
  margin: 100px auto;

  width: 1400px;
  padding: 0.1rem;
  border: 4px solid white;
  display: flex;
  justify-content: space-around;
  border-radius: 50px;
  margin-top: 50px;
}

.box-container ul li {
  list-style: none;
  color: white;
  padding: 0.2rem;
  margin-top: 1rem;
}

.box-container div {
  flex-direction: column;
  /* padding: 1rem; */
  /* border: 1px solid black; */
  /* padding: 1rem; */
}

.box-container .score-box {
  display: flex;
}

.score-box li {
  background: white;
  color: black !important;
  margin: 1rem;
  /* width: 250px;
  height: 200px; */
  width: 210px;
  height: 150px;
  text-align: center;
  border-radius: 20px;
}

#computer-score {
  display: block;
  font-size: 5rem;
  text-align: center;
  display: flex;
  justify-content: center;
}
#player-score {
  display: block;
  font-size: 5rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

.icons-container {
  margin: 0 auto;
  width: 1200px;
  padding: 1rem;
}

.icons-box {
  /* border: 1px solid black; */

  flex-direction: row;
  justify-content: space-evenly;
}

#rock-selected,
#paper-selected {
  position: absolute;
  color: white;
  top: 300px;
  text-transform: capitalize;
}

#scissor-selected {
  position: absolute;
  color: white;
  top: 500px;
  text-transform: capitalize;
}

.icons-box div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#rock {
  background: white;
  /* width: 200px;
  height: 200px; */
  width: 150px;
  height: 150px;
  margin: 1rem;
  border-radius: 100px;
  border: 10px solid #0074b6;
  z-index: 1;
}

#rock > span {
  border: 1px solid black;
  transform: translateY(105%);
  transform: rotate3d();
}

#rock img {
  /* position: absolute;
  top: 370px;
  left: 495px; */

  position: absolute;
  top: 418px;
  left: 495px;
}

#line-box-1 {
  border: 10px solid #171717a3;
  transform: rotateZ(90deg);
  width: -1px;
  /* height: 266px; */
  height: 19rem;
  position: absolute;
  top: 305px;
  background: #171717a3;
}
#line-box-2 {
  /* border: 10px solid #171717a3;
  transform: rotateZ(137deg);
  width: 1px;
  height: 130px;
  position: absolute;
  top: 454px;
  right: 865px;

  background: #171717a3; */
  /* border: 10px solid #171717a3;
  transform: rotateZ(137deg);
  width: 1px;
  /* height: 130px; 
  height: 10rem;
  position: absolute;
  top: 444px;
  right: 865px;
  background: #171717a3; */

  /* border: 10px solid #171717a3;
  transform: rotateZ(131deg);
  width: 1px px;
  /* height: 130px; 
  height: 15rem;
  position: absolute;
  top: 429px;
  right: 865px;
  background: #171717a3; */

  border: 10px solid #171717a3;
  transform: rotateZ(140deg);
  width: 1px px;
  /* height: 130px; */
  height: 15rem;
  position: absolute;
  top: 421px;
  right: 865px;
  background: #171717a3;
}
#line-box-3 {
  /* border: 9px solid #171717a3;
  transform: rotateZ(223deg);
  width: 0px;
  /* height: 131px; 
  height: 10rem;
  position: absolute;
  top: 456px;
  right: 634px;

  background: #171717a3; */

  border: 9px solid #171717a3;
  transform: rotateZ(222deg);
  width: 0px;
  /* height: 131px; */
  height: 15rem;
  position: absolute;
  top: 418px;
  right: 633px;
  background: #171717a3;
}
#paper {
  background: white;
  /* width: 200px;
  height: 200px; */
  width: 150px;
  height: 150px;
  margin: 1rem;
  border-radius: 100px;
  border: 10px solid #ffa943;
  z-index: 1;
}
#paper img {
  /* position: absolute;
  top: 370px;
  left: 950px; */

  position: absolute;
  top: 420px;
  left: 951px;
}

.scissor-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

#scissor {
  background: white;
  /* width: 200px;
  height: 200px; */
  width: 150px;
  height: 150px;
  margin: 2rem;
  border: 10px solid #bd00ff;
  border-radius: 100px;
  z-index: 1;
}

#scissor img {
  position: absolute;
  top: 615px;
  left: 740px;
}

.games-rules-section > div {
  background: #004429;
  padding: 2rem;
  border: 10px solid white;
  border-radius: 15px;
}

.games-rules-section #rules {
  border: 1px solid white;
  width: fit-content;
  padding: 0.3rem;
  color: white;
  border-radius: 10px;
  position: absolute;
  right: 8%;
  top: 92%;
  font-size: 30px;
}

.games-rules-section #next {
  border: 1px solid white;
  width: fit-content;
  padding: 0.3rem;
  color: white;
  border-radius: 10px;
  position: absolute;
  right: 1%;
  top: 92%;
  font-size: 30px;
}

.game-rules {
  color: white;
  position: absolute;
  width: 400px;

  position: absolute;
  right: 1%;
  top: 50%;
}

.game-rules h5 {
  text-align: center;
  margin-top: 0;
}

.game-rules ul li {
  font-size: 15px;
  margin: 0.2rem;
}

.game-rules li {
  list-style: none;
}

.game-rules ul li::before {
  content: "■";
  color: yellow;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.games-rules-section img {
  width: 40px;
  position: absolute;
  right: 1%;
  top: 48%;
  z-index: 1;
  border: 4px solid white;
  border-radius: 50px;
}

#result {
  color: white;
  position: relative;
  left: 680px;
  bottom: 350px;
  font-size: 25px;
}

#play-again {
  border: 1px solid white;
  background: transparent;
  padding: 1rem;
  color: white;
  border-radius: 30px;
  position: relative;
  left: 700px;
  bottom: 300px;
  display: none;
}
